.color-ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
.color-ball:hover {
    transform: scale(1.5); /* Makes it 1.5 times bigger */
  }